.messanger{
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;

   &__container{
      max-width: 1000px;
      padding: 0 20px;
      
      display: flex;
     justify-content: space-around;
   }
}